h1{
    font-style: calibri;
    background-color: red;
    font-size: 40px;
    color: white;
    width: 60%;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.one{
    margin: auto;
    width: 30%;
    justify-items: center;
   
}

.button{
    width: 300px;
    height: 60px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.button:hover{
    color: white;
    cursor: pointer;
    background-color: black;

}

h4{
    font-size: 35px;
    font-weight: bold;
}