.left-div{
    padding: 20px;
    width: 23%;
    height: 750px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.pro-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-style: calibri;
}
.pro-div>div>p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
    font-style: calibri;
}
.pro-div>div>p:nth-child(2){
    margin-top: -17px;
    
}
img{
    width: 35%;
    height: 130px;
    border: 1px solid red;
    border-radius: 50%;
}

button{
    margin: auto;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    font-style: calibri;

}

.try{
    font-weight: calibri;
    font-size: 25px;
    margin: auto;
   
    display: flex;
    padding-left: 40px;
  justify-items: center;
  align-items: center;
   height: 10%;
    gap: 10px;

}

.try:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
span{
    height: 50%;
   
}