.left-div{
    padding: 20px;
    width: 23%;
    height: 700px;
    border: 1px solid red;
}

.pro-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-style: calibri;
}
.pro-div>div>p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
    font-style: calibri;
}
.pro-div>div>p:nth-child(2){
    margin-top: -17px;
    
}
img{
    width: 35%;
    height: 130px;
    border: 1px solid red;
    border-radius: 50%;
}

button{
    margin: auto;
    width: 100%;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    font-style: calibri;

}
